<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
			
	<mapper namespace="com.deng.dao.IAddressDao">
		
		<resultMap type="address" id="AddressResult">
			<result property="id" column="itemno"/>
			<result property="name" column="itemname"/>
		</resultMap>
		
		<select id="queryProvince" resultMap="AddressResult">
			select itemno,itemname from code_library where itemno like '%0000'
		</select>
		
		<select id="queryCity" parameterType="String" resultMap="AddressResult">
			select itemno,itemname from code_library where itemno like #{id}
		</select>
		
		<select id="queryCounty" parameterType="String" resultMap="AddressResult">
			select itemno,itemname from code_library where itemno like #{id}
		</select>
		
		<select id="queryById" parameterType="String" resultMap="AddressResult">
			select itemno,itemname from code_library where itemno = #{id}
		</select>
		
	</mapper>