<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
			
<mapper namespace="com.deng.dao.ICatalogDao">
	
	<resultMap type="Catalog" id="CatalogResult">
		<id property="id" column="catalogid"/>
		<result property="name" column="catalogname"/>
		<result property="code" column="catalogcode"/>
		<result property="inputTime" column="inputtime"/>
		<result property="updateTime" column="updatetime"/>
		<result property="type" column="catalogtype"/>
		<result property="isInuse" column="isinuse"/>
	</resultMap>

	<insert id="save" parameterType="Catalog">
		insert into catalog_info 
		values(#{id},#{name},#{code},#{inputTime},#{updateTime},#{type},#{isInuse})
	</insert>
	
	<select id="queryAll" resultMap="CatalogResult">
		select * from catalog_info
	</select>
	<!-- 查询所有已启用的系统栏目 -->
	<select id="queryAllInuse" resultMap="CatalogResult">
		select * from catalog_info where isinuse = "1" and catalogtype="0"
	</select>
	
	<!-- 查询所有已启用的用户栏目 -->
	<select id="queryAllUserInuse" resultMap="CatalogResult">
		select * from catalog_info where isinuse = "1" and catalogtype="1"
	</select>
	
	<select id="queryById" parameterType="Long" resultMap="CatalogResult">
		select * from catalog_info where catalogid = #{id}
	</select>
	
	<update id="update" parameterType="Catalog">
		update catalog_info set catalogname = #{name},
		catalogcode = #{code},updatetime = #{updateTime}
		where catalogid= #{id}
	</update>
	
	<delete id="deleteById" parameterType="Long">
		delete from catalog_info where catalogid = #{id}
	</delete>
	
	<!-- 批量删除栏目 -->
	<delete id="batchDel" parameterType="String">
		delete from catalog_info where catalogid in
		<foreach collection="array" item="id" separator="," open="(" close=")">
			#{id}
		</foreach>
	</delete>
	
	<!-- 批量启用栏目 -->
	<update id="batchInUse" parameterType="String">
		update catalog_info set isinuse = "1" where catalogid in
		<foreach collection="array" item="id" separator="," open="(" close=")">
			#{id}
		</foreach>
	</update>
	
	<!-- 批量禁用栏目 -->
	<update id="batchUnUse" parameterType="String">
		update catalog_info set isinuse = "0" where catalogid in
		<foreach collection="array" item="id" separator="," open="(" close=")">
			#{id}
		</foreach>
	</update>
</mapper>