<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
			
<mapper namespace="com.deng.dao.INewsDao">

	<resultMap type="News" id="NewsResult">
		<id property="id" column="newsid"/>
		<result property="title" column="newstitle"/>
		<result property="author" column="newsauthor"/>
		<result property="content" column="newscontent"/>
		<result property="publishTime" column="publishtime"/>
		<result property="updateTime" column="updatetime"/>
		<result property="clickTimes" column="clicktimes"/>
		<result property="catalog_id" column="catalog_id"/>
		<result property="image" column="newsimage"/>
	</resultMap>
	
	<insert id="save" parameterType="News">
		insert into news_info values(#{id},#{title},#{author},#{content}
		,#{publishTime},#{updateTime},#{clickTimes},#{catalog_id},#{image,jdbcType=BLOB})
	</insert>
	
	<select id="queryAll" resultMap="NewsResult">
		select * from news_info order by publishtime asc
	</select>
	
	<select id="queryById" parameterType="Long" resultMap="NewsResult">
		select * from news_info where newsid = #{id}
	</select>
	
	<update id="update" parameterType="News">
		update news_info set newstitle = #{title},newsauthor = #{author},
		newscontent = #{content},updateTime = #{updateTime},
		clicktimes = #{clickTimes},catalog_id = #{catalog_id},newsimage = #{image,jdbcType=BLOB}
		where newsid = #{id}
	</update>
	
	<delete id="deleteById" parameterType="Long">
		delete from news_info where newsid = #{id}
	</delete>
	
	<select id="queryByCatalogId" parameterType="Long" resultMap="NewsResult">
		select * from news_info where catalog_id = #{Catalog_id}
	</select>
		
</mapper>