
/**
*半透明背景
*/
 .mask{position:absolute;left:0;top:0;z-index:3;height:100%;width:100%;background:black;opacity:0.6;}
/**
*登陆
*/
.login,.register{width: 440px;height: 316px;background: #FFFFFF;position:absolute;left:450px;top:130px;z-index:3;}
.login_1{width: 440px;height: 37px;display:inline-block;cursor: pointer;}
.login_1 a{width: 37px;height: 30px;display:inline-block;float: right;margin-top: 10px;}
.login_2{width: 440px;height: 40px;background: url("../images/front/logo-2-1.jpg") no-repeat 30px 0px;}
.login_3{width: 375px;height: 212px;margin-left: 30px;}
.login_3_0{width: 375px;height: 25px;}
.login_3_0 p{color: red;margin: 0px;padding: 0px;float: left;font-size: 12px;}
.login_3_1{width: 375px;height: 38px;border: 1px solid #7B7B7B;}
.login_3_1 label{line-height: 38px;color: #7B7B7B;font-size: 12px;}
.login_3_1 input{width: 310px;height: 30px;border: 0px;color: A1A1A1;}
.login_3_2{width: 375px;height: 85px;}
.login_3_2_1{width:108px;height: 40px;margin: 25px;float: left;}
.login_3_2_1 input{width:108px;height: 40px;background:url("../images/front/logo-2-3.jpg") no-repeat 0px -50px ;border: 0px;cursor:pointer;}
.login_3_2_2{width:210px;height: 40px;float: left;margin-top:25px;}
.login_3_2_2 a{width:80px;font-size: 12px;color:#7B7B7B; text-decoration: none;margin-left: 10px;display:inline-block;float: left;}
.login_3_2_2 a:HOVER{color:#41BBEC;}